/**
 * 集中管理一些配置
 *  DB: mongodb数据库
 *  REDIS: redis数据库
 *  HTTP_PORT: http端口
 *  HTTPS_PORT: https端口
 *  CA_CERT: https使用的ca证书位置
 *  TOKEN_KEY: token加解密用到的RSA密匙位置
 *  MAIL: 邮件相关配置
 */
const fs = require('fs')
const configs = {
  DB: {
    client: 'mongodb',
    connection: {
      host: 'localhost',
      port: '27017',
      name: 'test',
      username: '',
      password: '',
    }
  },
  REDIS: {
    host: 'localhost',
    port: '6379',
    db: 0,
    // password: ''
  },
  USE_HTTPS: false,
  HTTP_PORT: 8081,
  HTTPS_PORT: 443,
  CA_CERT: {
    KEY: fs.readFileSync('your ca private key path'),
    CERT: fs.readFileSync('your ca public key path')
  },
  TOKEN_KEY: {
    PUBLIC_KEY: fs.readFileSync('your token rsa publc key path'),
    PRIVATE_KEY: fs.readFileSync('your token rsa publc key path')
  },
  MAIL: {
    host: 'smtp.163.com',
    secureConnection: true, // use SSL
    port: 465,
    secure: true,
    auth: {
      user: 'your mail adress', // 发件邮箱
      pass: 'your mail authorization key'  // 注意此处为授权码，并非网易账户登陆密码
    }
  }
}
module.exports = configs
